name: Layers Publish

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: 25
          distribution: adopt
          cache: sbt

      - name: Setup SBT
        uses: sbt/setup-sbt@v1

      - name: Release
        run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}


  release:
    runs-on: ubuntu-latest
    needs:
      - publish
    steps:
      - name: Release
        uses: softprops/action-gh-release@v2
